<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="topbar_global.css">
</head>

<body>
            <header class="topbar">
        <div class="topbar-left">
            <a href="login.html" class="topbar-logo">
                <h1>Seguros<span>Pro</span></h1>
            </a>
        </div>
    </header>
    <h1>Error</h1>
    <p>Ha ocurrido un error. Por favor, intenta nuevamente.</p>
</body>

</html>